.AuthPageWrapper
    height: 100dvh
    width: 100%
    background: #fff

    h1

    .ContentQr
        width: 100%
        max-width: 25.5rem
        margin: 0 auto
        text-align: center
        padding: 6rem 1rem 1rem
        padding-top: 6rem
        display: grid
        justify-items: center

        .QrSpinnerHolder 
            width: 280px
            height: 280px
            display: flex
            justify-content: center
            align-items: center

        .Qr
            display: block

        .QRTitle
            font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
            color: #000
            font-weight: 600
            margin: 1.5rem 0 0.25rem 0
            font-size: 1.25rem
            line-height: 1
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale

        ol
            list-style: none
            counter-reset: item
            padding: 0 1.75rem
            margin-top: 0
            margin-bottom: 1rem
            color: #000

            li
                counter-increment: item
                text-align: left
                margin: .75rem 0
                display: flex

                &::before
                    content: counter(item)
                    font-family: Roboto, sans-serif
                    display: flex
                    justify-content: center
                    align-items: center
                    min-width: 1.375rem
                    height: 1.375rem
                    padding: 0
                    margin: 0 .75rem 0 0
                    background: #3390ec
                    border-radius: 50%
                    font-size: smaller
                    color: #fff

    .ContentAuth
        width: 100%
        max-width: 25.5rem
        margin: 0 auto
        text-align: center
        padding: 6rem 1rem 1rem
        padding-top: 6rem
        display: grid
        justify-items: center

        .TgLogo
            width: 7.5rem
            height: 7.5rem
            margin-bottom: 1.75rem

        .SignInTitle
            font-size: 1.25rem
            margin: 22px 0 14px
            line-height: 1
            font-weight: 500
            color: #000
            margin-top: 0
            margin-bottom: .5rem
            display: flex

        .Hint
            font-size: 0.875rem
            margin-bottom: 3rem
            margin-top: 0
            color: #707579

        .Checkbox
            position: relative
            width: 100%
            min-height: 3rem
            display: flex
            align-items: center
            padding-inline-start: 4.25rem
            text-align: left
            cursor: pointer
            border-radius: 0.75rem
            transition: all 0.1s ease-in-out

            &:hover
                background: rgb(0, 0, 0, 0.03)

            input
                position: absolute
                z-index: -1
                opacity: 0

                &:checked ~ .Checkbox-main::before
                    border-color: rgb(51, 144, 236)
                    background-color: rgb(51, 144, 236)

                &:checked ~ .Checkbox-main::after
                    opacity: 1

            .Checkbox-main::before, .Checkbox-main::after, .Checkbox
                box-sizing: border-box
                content: ""
                display: block
                position: absolute
                width: 20px
                height: 20px
                left: 1.125rem
                top: 50%
                transform: translateY(-50%)
                pointer-events: none

            .Checkbox-main::before
                border: .125rem solid rgb(218, 220, 224)
                border-radius: .25rem
                background-color: rgb(255, 255, 255)
                transition: border-color .1s ease,background-color .1s ease

            .Checkbox-main::after
                background: center no-repeat url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTEzLjkuOEw1LjggOC45IDIuMSA1LjJjLS40LS40LTEuMS0uNC0xLjYgMC0uNC40LS40IDEuMSAwIDEuNkw1IDExLjJjLjQuNCAxLjEuNCAxLjYgMGw4LjktOC45Yy40LS40LjQtMS4xIDAtMS42LS41LS40LTEuMi0uNC0xLjYuMXoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==)
                background-size: auto
                transition: opacity .1s ease
                opacity: 0
                top: 50%
                transform: translateY(-50%)

            .Checkbox-main .label
                word-break: break-word
                unicode-bidi: plaintext
                text-align: left
                line-height: 1.25rem
                font-weight: 300
                color: #000
                user-select: none

@media (min-width: 600px)
    .ContentQr
        padding-top: 4rem!important

    .ContentAuth
        padding: 6.8125rem 1.5rem 1.5rem!important

        .TgLogo
            width: 10rem!important
            height: 10rem!important
            margin-bottom: 2.5rem

        .SignInTitle
            font-size: 2rem!important
            line-height: 1.5!important

        .Hint
            font-size: 1rem!important
