@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap')

*
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
    box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

@font-face 
    font-family: "Icons"
    src: url("./icons.189fef30b3fe0b182907.woff2")

.pencilIcon
    font-family: "icons" !important
    position: relative 
    color: #aaaaaa
    opacity: .75
    width: 2.5rem
    height: 2.5rem
    padding: .5rem
    font-size: 1.5rem
    cursor: pointer

    &::before 
        content: ""
        width: 20px
        height: 20px

    &:hover
        opacity: .9


body, html
    margin: 0
    background: #1c1c1c
    color: #bdc0c2

    &::-webkit-scrollbar
        width: 0px

input
    background: #262626
    border: none
    outline: none
    color: #bdc0c2!important
    font-size: 16px
    line-height: inherit
    display: inline-block
    padding-inline-end: 12px
    padding-inline-start: 12px
    padding-left: 12px
    padding-right: 12px
    padding-bottom: 6px
    padding-top: 6px
    padding-block-end: 6px
    padding-block-start: 6px

button
    cursor: pointer
    background: #115bca
    border: none
    outline: none
    color: #bdc0c2
    font-size: 14px
    font-weight: bold
    line-height: inherit
    display: inline-block
    transition: .2s all ease
    padding: .5rem 1rem
    border-radius: 16px

    &:hover
        background: #317ff4

.mini-badge
    padding: .2rem .5rem
    border-radius: 100px
    font-size: 12px
    text-align: center

.badge-btn
    font-weight: normal

.badge-green
    background: #7eb827
    color: #1c1c1c

    &.badge-btn
        &:hover
            background: #9fe634

.badge-red
    background: #e14760
    color: #1c1c1c

    &.badge-btn
        &:hover
            background: #fc3153

.badge-orange
    background: #f27009
    color: #1c1c1c

    &.badge-btn
        &:hover
            background: #ff8017

.w-md-editor-toolbar
    background: transparent
    border-radius: 0
    --md-editor-box-shadow-color: #30363d

.w-md-editor
    --md-editor-box-shadow-color: none
    color: #bdc0c2!important

svg
    fill: #bdc0c2!important
    color: #bdc0c2!important

.paragraph
    margin-top: 4rem
    a
        color: #24180b
.primary-color
    color: #F38C16

h1, h2, h3, h4, h5
    margin: 0

.tgme-login-btn
    position: relative
    outline: none !important
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 3.5rem
    border: 0
    border-radius: var(--border-radius-default)
    background-color: rgba(0, 0, 0, 0)
    background-size: cover
    margin-top: -0.625rem
    border-radius: 0.75rem
    padding: .625rem
    color: #3390ec
    font-weight: 500
    font-size: 16px
    line-height: 1.2
    cursor: pointer
    flex-shrink: 0
    position: relative
    overflow: hidden
    transition: background-color .15s, color .15s
    text-decoration: none !important
    text-transform: uppercase
    transition: .1s all ease

    &:hover
        background-color: rgba( 74, 149, 214, 0.08)

.tgme-login-btn-primary
    background: #3390ec
    color: #fff

    &:hover 
        background: #4a95d6

.tgme-btn-margin-large
    margin-top: 2.75rem

.tgme-btn-margin 
    margin-top: 1rem

.margin-bottom
    margin-bottom: 1.125rem

.tgme-btn-spinner-holder
    position: absolute
    right: .875rem
    top: calc(28px - 14.5px)
