
.LogModalWrapper
    display: flex
    border-bottom: 1px solid #363636
    padding: 1rem .5rem
    display: none
    justify-content: space-between
    align-items: center
    font-size: 12px

    .IconWrapper
        svg
            display: block
            fill: #F38C16!important
            

    &.LogModalActive
        display: flex
