
.Tr
    position: relative

    &.SwapCursor
        td
            &.LinkIndex 
                background: #ff8017!important
                color: #1c1c1c
                overflow: hidden
                font-weight: bold
    &.SwapSelection 
        &:hover
            td
                &.LinkIndex 
                    background: #f27009!important
                    color: #1c1c1c
                    overflow: hidden
                    font-weight: bold

    td 
        font-size: 12px

        &.LinkIndex 
            width: 60px
            cursor: pointer

    a 
        color: #bdc0c2

    .TdContent 
        display: flex
        justify-content: center
        align-items: center
        gap: .3rem
        flex-wrap: wrap

    .Blurer 
        position: fixed
        width: 100% 
        height: 100%
        left: 0 
        top: 0